@model Alias

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Alias</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SourceDomain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationUsername)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationUsername)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DestinationDomain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>